@font-face {
    font-family: "SFProDisplayRegular";
    src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf") format("ttf"),
}
@font-face {
    font-family: "SFProDisplayMedium";
    src: url("../fonts/FontsFree-Net-SFProDisplay-Medium.ttf") format("ttf"),
}
@font-face {
    font-family: "SFProDisplaySemiBold";
    src: url("../fonts/FontsFree-Net-SFProDisplay-Semibold.ttf") format("ttf"),
}

@font-face {
    font-family: "SFProDisplayBold";
    src: url("../fonts/FontsFree-Net-SFProDisplay-Bold.ttf") format("ttf"),
}
@font-face {
    font-family: "SFProTextRegular";
    src: url("../fonts/FontsFree-Net-SFProText-Regular.ttf") format("ttf"),
}
@font-face {
    font-family: "SFProTextMedium";
    src: url("../fonts/FontsFree-Net-SFProText-Medium.ttf") format("ttf"),
}
